{% extends "blog/base.html" %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
    <h1>Blog Posts</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p>{{ post.content|truncatewords:30 }}</p>
                <p><small>By {{ post.author }} on {{ post.published_date|date:"F j, Y" }}</small></p>
            </li>
        {% empty %}
            <p>No blog posts found.</p>
        {% endfor %}
    </ul>
{% endblock %}
